Repository MicrosoftDocs/query-docs, pull requests merged in 2022-08, with the labels that each got.

#11 Update earlier-function-dax.md
  query-languages/dax/earlier-function-dax.md
Labels: DAX language

#9 Clarifying exclusive identifier behavior
  query-languages/m/m-spec-basic-concepts.md
Labels: M language

#8 Correction to description of DEFINE statement
  query-languages/dax/define-statement-dax.md
Labels: DAX language

#14 Adding type time to list of primitive types
  query-languages/m/m-spec-consolidated-grammar.md
Labels: M language

#16 Update keepfilters-function-dax.md
  query-languages/dax/keepfilters-function-dax.md
Labels: DAX language

#7 Update to include COLUMN and TABLE with DEFINE
  query-languages/dax/dax-queries.md
Labels: DAX language, do-not-merge, Change sent to author, powerbi/svc, dax/subsvc
